.iconBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    width: 70rem;
    height: 200px;
    margin-left: 7rem;
    margin-bottom: 20rem;
}

h2{
    margin-left: 1rem;
    font-size: 2rem;
}

p{
    margin-left: 1rem;
    font-size: 1.4rem;
    width: 12.5rem;
    color: rgb(149, 149, 149);
}